hr {

	border-top: 1px solid #ddd;
}

h4 {

	margin-top: 20px;
}

.table-hover > tbody > tr:hover { /* http://stackoverflow.com/a/30416071/1946525 */

	background-color: #ddd;
}

.btn-default {

    text-shadow: inherit;
}

div#content-container {

	visibility: hidden;
}

div#spinner-container img {

	display: block;
	margin: 30px auto 0 auto;
}

div#color-breakdown i.mi {

	margin-left: -9px;
}


/****************************************************************************************
YOUR DECKS (CREATE)
****************************************************************************************/

a.add-card, a.add-card:hover, a.add-card:active, a.add-card:visited {
    text-decoration:none;
}

.icon {

    text-align:center;
    margin: 0 auto;
    display: inline;
}

.icon.plus.md {

    color: green;
}

.icon.plus.sb {

    color: lightgreen;
}

.icon.minus {

    color: red;
}
