hr {

	border-top: 1px solid #ddd;
}

.table-hover > tbody > tr:hover { /* http://stackoverflow.com/a/30416071/1946525 */

	background-color: #ddd;
}

.btn-default {

    text-shadow: inherit;
}

div#content-container {

	visibility: hidden;
}

div#spinner-container img {

	display: block;
	margin: 30px auto 0 auto;
}

h4 {

	margin-top: 0; 
	margin-bottom: 20px;
}

div#color-breakdown i.mi {

	margin-left: -9px;
}